@model AdventureWorksNS.Data.Product
<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model?.Name</div>
    <div class="card-body text-dark">
        <h5 class="card-tile">Precio: @Model?.ListPrice</h5>
        <p class="card-text">Numero: @Model?.ProductNumber</p>
    </div>
</div>
