@model AdventureWorksNS.Data.Address
<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model?.PostalCode</div>
    <div class="card-body text-dark">
        <h5 class="card-tile">Estado Provincia: @Model?.StateProvince</h5>
        <p class="card-text">Ciudad: @Model?.City</p>
    </div>
</div>
